form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 50px auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #ccc;
}

label, input {
  width: 100%;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="number"], input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="number"]:focus, input[type="text"]:focus {
  box-shadow: 0 0 10px 0 #aaa;
  border-color: #aaa;
}

.endereco {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.endereco div {
  width: calc(33.33% - 20px);
  margin: 10px;
}

button[type="submit"] {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-top: 20px;
  transition: all 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #444;
}

@media (max-width: 768px) {
  form {
      width: 90%;
  }

  .endereco div {
      width: calc(50% - 20px);
  }
}
