
<mat-sidenav-container>

  <mat-sidenav-content>
    <app-sidenav></app-sidenav>
    <div class="content" [class.mat-elevation-z4]="!isActive">


      <div class="box">
        <form [formGroup]="searchForm" *ngIf="searchForm" (ngSubmit)="getAnimal()">
          <input id="searchText" formControlName="searchValue" type="text" placeholder="Buscar Consulta...">
          <button type="submit">
            <mat-icon>search</mat-icon>
          </button>
        </form>
      </div>


      <body>
        <main class="table">
        <section class="table_body">
      <table class="filter">

          <tr>
            <th>ID Ficha</th>
            <th>especie</th>
            <th>Nome</th>
            <th>Veterinário</th>
            <th>Dono</th>
            <th>Motivo</th>
            <th>Data</th>
            <th>Editar Serviços+</th>
          </tr>


          <tr *ngFor="let cons of consultas">
            <td>{{cons.id_ficha}}</td>
            <td>{{cons.especie}}</td>
            <td>{{cons.nome_animal}}</td>
            <td>{{cons.veterinario}}</td>
            <td>{{cons.nome_dono}}</td>
            <td>{{cons.motivo_visita}}</td>
            <td>{{cons.data_visita}}</td>
            <!-- <td>{{animal.nome_animal}}</td> -->
            <!-- <td>{{animal.sexo_animal}}</td>
            <td>{{animal.data_nasc}}</td>
            <td>{{animal.nome_raca}}</td>
            <td>{{animal.nome}}</td> -->
            <!-- <td>{{animal.id_raca!.nome_raca}}</td>
            <td>{{animal.id_dono!.nome}}</td> -->

            <td>
              <!-- <a><button (click)="redirectToConsultaRegister(animal.id_animal, animal.nome_animal)">img-consult-button</button></a> -->
              <a style="display:flex;justify-content:center"><button  (click)="redirectToServices(cons.id_ficha, cons.nome_animal)"><mat-icon class="editIcon">assignment</mat-icon></button></a>
            </td>
          </tr>

      </table>
    </section>
  </main>
</body>
    </div>




  </mat-sidenav-content>


</mat-sidenav-container>
