
<mat-sidenav-container>

  <mat-sidenav-content>
    <app-sidenav></app-sidenav>
    <div class="content" [class.mat-elevation-z4]="!isActive">


      <div class="box">
        <form [formGroup]="searchForm" *ngIf="searchForm" (ngSubmit)="getConsulta()">
          <input id="searchText" formControlName="searchValue" type="text" placeholder="Buscar Consulta...">
          <button type="submit">
            <mat-icon>search</mat-icon>
          </button>
        </form>
      </div>


      <body>
        <main class="table">
        <section class="table_body">
      <table class="filter">

          <thead>
          <tr>
            <th (click)="ordenar(1)"><div class="thbox"><div>ID Ficha</div><mat-icon class="order-icon">sort</mat-icon></div></th>
            <th (click)="ordenar(2)"><div class="thbox"><div>Espécie</div><mat-icon class="order-icon">sort</mat-icon></div></th>
            <th (click)="ordenar(3)"><div class="thbox"><div>Nome</div><mat-icon class="order-icon">sort</mat-icon></div></th>
            <th (click)="ordenar(4)"><div class="thbox"><div>Veterinário</div><mat-icon class="order-icon">sort</mat-icon></div></th>
            <th (click)="ordenar(5)"><div class="thbox"><div>Dono</div><mat-icon class="order-icon">sort</mat-icon></div></th>
            <th (click)="ordenar(6)"><div class="thbox"><div>Motivo</div><mat-icon class="order-icon">sort</mat-icon></div></th>
            <th (click)="ordenar(7)"><div class="thbox"><div>Data</div><mat-icon class="order-icon">sort</mat-icon></div></th>
            <th>Serviços Prestados+</th>
          </tr>
        </thead>

          <tr *ngFor="let cons of consultas">
            <td>{{cons.id_ficha}}</td>
            <td>{{cons.especie}}</td>
            <td>{{cons.nome_animal}}</td>
            <td>{{cons.veterinario}}</td>
            <td>{{cons.nome_dono}}</td>
            <td>{{cons.motivo_visita}}</td>
            <td> {{cons.data_visita | date: 'HH:mm'}}<br>{{cons.data_visita | date: 'dd/MM/YY'}}</td>
            <td>
              <!-- <a><button (click)="redirectToConsultaRegister(animal.id_animal, animal.nome_animal)">img-consult-button</button></a> -->
              <a style="display:flex;justify-content:center"><button  (click)="redirectToServices(cons.id_ficha, cons.nome_animal)"><mat-icon class="editIcon">assignment</mat-icon></button></a>
            </td>
          </tr>

      </table>
    </section>
  </main>
</body>
    </div>




  </mat-sidenav-content>


</mat-sidenav-container>
