<mat-sidenav-container>

  <mat-sidenav-content>
    <app-sidenav></app-sidenav>
    <div class="content" [class.mat-elevation-z4]="!isActive">
      <div class="container">
      <form [formGroup]="clientForm" *ngIf="clientForm" (ngSubmit)="editCliente()">
        <input type="hidden" formControlName="id_dono">
        <h2>Editar Cliente</h2>

          <div class="input-box">
            <label>Nome: </label>
            <input type="text" formControlName="nome" placeholder="Digite seu nome">
          </div>

          <div class="input-box">
            <label>CPF: </label>
            <input type="number" formControlName="cpf" placeholder="Digite seu CPF">
          </div>

          <div class="input-box">
            <label>Email: </label>
            <input type="email" formControlName="email" placeholder="Digite seu email">
          </div>

          <div class="input-box">
            <label>Telefone: </label>
            <input type="tel" formControlName="telefone" placeholder="Digite seu telefone">
          </div>

          <div formGroupName="endereco">

            <div class="input-box">
              <label>Cidade: </label>
              <input type="text" formControlName="cidade" placeholder="Digite sua cidade">
            </div>

            <div class="input-box">
              <label>Bairro: </label>
              <input type="text" formControlName="bairro" placeholder="Digite seu bairro">
            </div>

            <div class="input-box">
              <label>Logradouro: </label>
              <input type="text" formControlName="logradouro" placeholder="Digite seu logradouro">
            </div>

            <div class="input-box">
              <label>CEP: </label>
              <input type="number" formControlName="cep" placeholder="Digite seu CEP">
            </div>

            <div class="input-box">
              <label>Número: </label>
              <input type="number" formControlName="numero" placeholder="Digite seu número">
            </div>
          </div>
        <button type="submit" [disabled]="clientForm.invalid">Editar Cliente</button>
      </form>
    </div>
    </div>
  </mat-sidenav-content>


</mat-sidenav-container>
