.mat-elevation-z4 {
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12)
}

.content{
  height: calc(100vh - 48px);
  margin: 16px;
  margin-left: 262px;
  display:flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;

  border-radius: 10px;
}

mat-sidenav-container{
  height: calc(100vh - 15px);
}

mat-icon{
  color: #FFC107;
}
