<mat-sidenav-container>

  <mat-sidenav-content>
    <app-sidenav></app-sidenav>
    <div class="content" [class.mat-elevation-z4]="!isActive">
      <form [formGroup]="clientForm" *ngIf="clientForm" (ngSubmit)="editCliente()">
        <input type="hidden" formControlName="id_dono">
        <div>
          <label>Nome: </label>
          <input type="text" formControlName="nome" placeholder="Digite seu nome">
        </div>
        <div>
          <label>CPF: </label>
          <input type="number"  formControlName="cpf" placeholder="Digite seu CPF" readonly>
        </div>
        <div>
          <label>Email: </label>
          <input type="email" formControlName="email" placeholder="Digite seu email">
        </div>
        <div>
          <label>Telefone: </label>
          <input type="tel" formControlName="telefone" placeholder="Digite seu telefone">
        </div>

        <div formGroupName="endereco">
          <input type="hidden" formControlName="id_end">
          <div>
            <label>Cidade: </label>
            <input type="text" formControlName="cidade" placeholder="Digite sua cidade">
          </div>
          <div>
            <label>Bairro: </label>
            <input type="text" formControlName="bairro" placeholder="Digite seu bairro">
          </div>
          <div>
            <label>Logradouro: </label>
            <input type="text" formControlName="logradouro" placeholder="Digite seu logradouro">
          </div>
          <div>
            <label>CEP: </label>
            <input type="number" formControlName="cep" placeholder="Digite seu CEP">
          </div>
          <div>
            <label>Número: </label>
            <input type="number" formControlName="numero" placeholder="Digite seu número">
          </div>
        </div>
        <button type="submit" [disabled]="clientForm.invalid">Editar Cliente</button>
      </form>
    </div>
  </mat-sidenav-content>


</mat-sidenav-container>
