<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Prontuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header> </ion-header>
  <div class="doguinho">
    <ion-thumbnail>
      <img
        alt="Silhouette of mountains"
        src="../../assets/icon/favicon.png"
      />
    </ion-thumbnail>
  </div>

  <ng-container *ngFor="let consulta of fichas">
    <ion-accordion-group expand="inset" *ngFor="let con of consulta.consultas">
      <ion-accordion>
        <ion-item slot="header" color="rose" style="background-color: #fa9900">
          <ion-label
            >{{con.data_visita | date: "dd/MM/yy"}} -
            {{con.nome_animal}}</ion-label
          >
        </ion-item>
        <div class="ion-padding" slot="content">
          <strong>Veterinário:</strong><br><br> {{ con.veterinario }}
        </div>
        <div class="ion-padding" slot="content">
          <strong>Motivo:</strong><br><br> {{ con.motivo_visita }}
        </div>
        <div class="ion-padding" slot="content">
          <strong>Diagnóstico:</strong><br /><br />
          {{ con.diagnostico }}
        </div>
        <div class="ion-padding" slot="content">
          <strong>Tratamento:</strong><br /><br />
          {{ con.tratamento }}
        </div>
        <div class="ion-padding" slot="content">
          <strong>Prescrição:</strong><br /><br />
          {{ con.prescricao }}
        </div>
        <div class="ion-padding" slot="content">
          <strong>Observação:</strong><br /><br />
          {{ con.observacoes }}
        </div>
        <div class="ion-padding" slot="content">
          Atendimento às: {{ con.data_visita | date: "hh:mm:ss"}}
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ng-container>
</ion-content>
