<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Prontuário</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header> </ion-header>
  <div class="doguinho">
    <ion-thumbnail>
      <img
        alt="Silhouette of mountains"
        src="https://cdn.discordapp.com/attachments/1040404882554900622/1071493589655359649/logo.png"
      />
    </ion-thumbnail>
  </div>

  <!-- <ion-accordion-group expand="inset" *ngFor="let fi of fichas">
    <ion-accordion>
      <ion-item slot="header" color="rose" style="background-color:#FA9900;">
        <ion-label>Dados do dono</ion-label>
      </ion-item>
      <ng-container *ngFor="let consulta of fi.consultas">
        <div class="ion-padding" slot="content">
          Nome: {{ consulta.nome_dono }}
        </div>
      </ng-container>
    </ion-accordion>
    <ion-accordion>
      <ion-item slot="header" color="rose" style="background-color:#FA9900;">
        <ion-label>Dados do animal</ion-label>
      </ion-item>
      <ng-container *ngFor="let consulta of fi.consultas">
        <div class="ion-padding" slot="content">
          Nome: {{ consulta.nome_animal }}
        </div>
        <div class="ion-padding" slot="content">
          Data de atendimento: {{ consulta.data_visita }}
        </div>
        <div class="ion-padding" slot="content">
          Veterinário: {{ consulta.veterinario }}
        </div>
        <div class="ion-padding" slot="content">
          Motivo: {{ consulta.motivo_visita }}
        </div>
        <div class="ion-padding" slot="content">
          Diagnóstico: {{ consulta.diagnostico }}
        </div>
        <div class="ion-padding" slot="content">
          Tratamento: {{ consulta.tratamento }}
        </div>
        <div class="ion-padding" slot="content">
          Prescrição: {{ consulta.prescricao }}
        </div>
        <div class="ion-padding" slot="content">
          Observação: {{ consulta.observacoes }}
        </div>
      </ng-container> -->

      <ng-container *ngFor="let consulta of fichas">
        <ion-accordion-group expand="inset" *ngFor="let con of consulta.consultas">
          <ion-accordion>
            <ion-item slot="header" color="rose" style="background-color:#FA9900;">
              <ion-label>Dados do dono</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              Nome: {{ con.nome_dono }}
            </div>
          </ion-accordion>
          <ion-accordion>
            <ion-item slot="header" color="rose" style="background-color:#FA9900;">
              <ion-label>Dados do animal</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              Nome: {{ con.nome_animal }}
            </div>
            <div class="ion-padding" slot="content">
              Data de atendimento: {{ con.data_visita }}
            </div>
            <div class="ion-padding" slot="content">
              Veterinário: {{ con.veterinario }}
            </div>
            <div class="ion-padding" slot="content">
              Motivo: {{ con.motivo_visita }}
            </div>
            <div class="ion-padding" slot="content">
              Diagnóstico: {{ con.diagnostico }}
            </div>
            <div class="ion-padding" slot="content">
              Tratamento: {{ con.tratamento }}
            </div>
            <div class="ion-padding" slot="content">
              Prescrição: {{ con.prescricao }}
            </div>
            <div class="ion-padding" slot="content">
              Observação: {{ con.observacoes }}
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ng-container>

</ion-content>
