<!-- <p>cadastra-cliente works!</p> -->
<h1>Cadastrar Cliente</h1>
<form>
  <div>
    <label>Nome</label>
    <input>
  </div>
  <div>
    <label>CPF</label>
    <input>
  </div>
  <div>
    <label>Email</label>
    <input>
  </div>
  <div>
    <label>Cidade</label>
    <input>
  </div>
  <div>
    <label>Bairro</label>
    <input>
  </div>
  <div>
    <label>Logradouro</label>
    <input>
  </div>
  <div>
    <label>Número</label>
    <input>
  </div>
  <button>Cadastrar Cliente</button>
</form>
