ion-thumbnail {
  --size: 100px;
  --border-radius: 14px;

}

.doguinho{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

ion-content{
  --background:#3f312f;
}
