.mat-elevation-z4 {
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12)
}

.content{
  height: calc(100vh - 48px);
  margin: 16px;
  margin-left: 262px;
  display:flex;


  font-size: medium;

  border-radius: 10px;
}

mat-sidenav-container{
  height: calc(100vh - 15px);
}

mat-icon{
  color: #FFC107;
}

table {
  width: 100%;
  position: absolute;
  z-index: 2;
  left: 30%;
  top: 25%;
  margin-left: 240px;
  transform: translate(-30%, -30%);
  width: 70%;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
  box-shadow: 0 2px 12px rgba(32,32,32,.3);
  border-collapse: collapse;
  text-align: center;
}

th{
  background: #FFC107;
}

th, td{
  font-family: 'Arvo', serif;
  padding: 10px 15px;
}

.btn{
  background: #FFC107;
  width: 130px;
  height: 40px;
  padding: 10px;
  margin-top: 50px;
  margin-left: 500px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.box{
  height: 45px;
  width: 500px;
  margin-top: 50px;
  margin-left: 100px;
  padding: 5px 30px;
  background: #fff;
  border-radius: 30px;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.box input{
  width: 400px;
  height: 20px;
  padding: 10px 30px;
  font-size: large;
}

.box mat-icon{
  background: #fff;
  cursor: pointer;
  display: flex;
  padding-top: 5px;
}

img{
  width: 25px;
  padding-left: 5px;
  cursor: pointer;
  background: #FAFAFA;
  display: flex;
}

.btnImg{
  margin-left: 10px;
  margin-right: 10px;
}

.btnIcon{
  margin-left: 10px;
  margin-right: 10px;
}

.editIcon{
  width: 25px;
  padding-top: 2px;
  cursor: pointer;
  background: #FAFAFA;
  display: flex;
  color: #000000;
}
