.mat-elevation-z4 {
	box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12)
}

.content{
  height: calc(100vh - 48px);
  margin: 16px;
  margin-left: 262px;
  display:flex;


  font-size: medium;

  border-radius: 10px;
}

mat-sidenav-container{
  height: calc(100vh - 15px);
}

mat-icon{
  color: #FFC107;
}

table {
  width: 100%;
  position: absolute;
  z-index: 2;
  left: 30%;
  top: 30%;
  margin-left: 240px;
  transform: translate(-30%, -30%);
  width: 70%;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
  box-shadow: 0 2px 12px rgba(32,32,32,.3);
  border-collapse: collapse;
  text-align: center;
}

th{
  background: #FFC107;
}

th, td{
  font-family: 'Arvo', serif;
  padding: 10px 15px;
}

.cadastro{
  background-color: #FFC107;
  width: 60px;
  height: 60px;
  display: flex;
  align-self: flex-start;
  margin-top: 50px;
  margin-left: 500px;
}


