<mat-sidenav-container>

  <mat-sidenav-content>
    <app-sidenav></app-sidenav>
    <div class="content" [class.mat-elevation-z4]="!isActive">

      <div class="divbtn">
        <button class="btn" type="button" (click)="redirectToClientRegister()">Cadastrar Novo Cliente</button>
      </div>
       <div class="box">
        <form [formGroup]="searchForm" *ngIf="searchForm" (ngSubmit)="getClients()">
          <input id="searchText" formControlName="searchValue" type="text" placeholder="Buscar dono...">
          <button type="submit">
            <mat-icon>search</mat-icon>
          </button>
        </form>
      </div>

      <body>
      <main class="table">
      <section class="table_body">

      <table class="filter">
        <thead>
          <tr>
            <th (click)="ordenar(1)"><div class="thbox"><div>ID</div><mat-icon class="order-icon">sort</mat-icon></div></th>
            <th (click)="ordenar(2)"><div class="thbox"><div>Nome</div><mat-icon class="order-icon">sort</mat-icon></div></th>
            <th (click)="ordenar(3)"><div class="thbox"><div>Telefone</div><mat-icon class="order-icon">sort</mat-icon></div></th>
            <th (click)="ordenar(4)"><div class="thbox"><div>Email</div><mat-icon class="order-icon">sort</mat-icon></div></th>
            <th>+</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let dono of donos">
            <td>{{dono.id_dono}}</td>
            <td>{{dono.nome}}</td>
            <td>{{dono.telefone}}</td>
            <td>{{dono.email}}</td>
            <td>
              <button class="btnImg" (click)="redirectToAnimalRegister(dono.id_dono, 1)"><img src="../../../../assets/img/kisspng-dog-pet-sitting-puppy-computer-icons-5ae26b14c5d954.7808012315247879888104.png" alt=""></button>
              <button class="btnImg" (click)="redirectToAnimalRegister(dono.id_dono, 2)"><img src="../../../../assets/img/kisspng-black-cat-stencil-silhouette-image-volunteers-for-animal-protection-vap-is-a-5-1c-5c1dd526f257a5.7137601915454589829927.png" alt=""></button>
              <button class="btnIcon" (click)="redirectToClientEdit(dono.id_dono)"><mat-icon class="editIcon">assignment</mat-icon></button>
            </td>
          </tr>
        </tbody>

      </table>


    </section>
  </main>
</body>

    </div>


  </mat-sidenav-content>


</mat-sidenav-container>

