<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <div>
      <img src="../../assets/img/logo/logo.png">
      <h1>PetMania</h1>
    </div>

    <button mat-button class="menu-button">
      <mat-icon style="margin-right: 8px;">face</mat-icon>
      <a href="app/login/lista-cliente">Clientes</a>
    </button>

    <button mat-button class="menu-button">
      <mat-icon style="margin-right: 8px;">pets</mat-icon>
      <a>Animais</a>
    </button>

    <button mat-button class="menu-button">
      <mat-icon style="margin-right: 8px;">pets</mat-icon>
      <a>Consultas</a>
    </button>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content" [class.mat-elevation-z4]="!isActive">

    </div>
  </mat-sidenav-content>


</mat-sidenav-container>
