<mat-sidenav-container>

  <mat-sidenav-content>
    <app-sidenav></app-sidenav>
    <div class="content" [class.mat-elevation-z4]="!isActive">
      <div class="container">


        <div class="header">
        <h1 class="title">Serviços</h1>


        <div style="display: flex; justify-content: center;">
          <form [formGroup]="servicosForm" *ngIf="servicosForm">
          <div style="display:flex; justify-content: center; flex-direction: column; width:300px; align-items: center;">
            <label for="id_raca">Serviço para atendimento de id- {{id_ficha}}ao<br>  paciente {{nome_animal}}:</label>
            <select id="id_vet" formControlName="id_servico">
              <option [value]="" selected disabled>Selecione o Serviço</option>
              <option *ngFor="let serv of servicos" [value]="serv.id">{{serv.servico}}</option>
            </select>
          </div>
        </form>
        </div>
      </div>

        <div class="table">
          <table class="filter">

              <tr>
                <th>ID Servico</th>
                <th>Serviço</th>
                <th>Remover</th>
              </tr>

              <tr>
                <td>id servico</td>
                <td>data</td>
                <td>
                  <a  style="display:flex; justify-content:center"><button><mat-icon class="editIcon">delete_forever</mat-icon></button></a>
                </td>
              </tr>
          </table>
        </div>


          <button class="btn" (click)="registerServico()" [disabled]="servicosForm.invalid"> Cadastrar Serviço</button>

      </div>
    </div>
  </mat-sidenav-content>


</mat-sidenav-container>
