<mat-sidenav-container>

  <mat-sidenav-content>
    <app-sidenav-vet></app-sidenav-vet>
    <div class="content" [class.mat-elevation-z4]="!isActive">
      <div class="container">

        <form [formGroup]="consultaForm" *ngIf="consultaForm">

          <h2>Editar Ficha</h2>


          <div class="input-box">
            <label for="nome_animal">Ficha:</label>
            <input type="text" readonly id="nome_animal" formControlName="id_ficha">
          </div>

          <div class="input-box">
            <label for="nome_animal">Animal</label>
            <input type="text" readonly id="nome_animal" formControlName="nome_animal">
          </div>

          <div class="input-box">
            <label for="nome_animal">Data</label>
            <input type="text" readonly id="nome_animal" formControlName="data_visita">
          </div>

          <div class="input-box">
            <label for="nome_animal">Veterinario:</label>
            <input type="text" readonly id="nome_animal" formControlName="veterinario">
          </div>

          <div class="input-box">
            <label for="sexo_animal">Motivo: </label>
            <input type="text" readonly id="sexo_animal" formControlName="motivo">
          </div>

          <div class="input-text">
            <label for="sexo_animal">Diagnostico: </label>
            <textarea type="text" id="sexo_animal" formControlName="diagnostico" cols="10" rows="3"></textarea>
          </div>

          <div class="input-text">
            <label for="sexo_animal">Tratamento: </label>
            <textarea type="text" id="sexo_animal" formControlName="tratamento" cols="10" rows="3"></textarea>
          </div>

          <div class="input-text">
            <label for="sexo_animal">Prescrição: </label>
            <textarea type="text" id="sexo_animal" formControlName="prescricao" cols="10" rows="3"></textarea>
          </div>

          <div class="input-text">
            <label for="sexo_animal">Observações: </label>
            <textarea type="text" id="sexo_animal" formControlName="observacoes" cols="10" rows="3"></textarea>
          </div>

          <input type="hidden" formControlName="id_animal">

          <button type="submit" (click)="updateFicha()">Atualizar Ficha</button>
        </form>
      </div>
    </div>

  </mat-sidenav-content>


</mat-sidenav-container>

