<!-- <mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <div>
      <img src="../../assets/img/logo/logo.png">
      <h1>PetMania</h1>
    </div>

    <button mat-button class="menu-button">
      <mat-icon style="margin-right: 8px;">face</mat-icon>
      <a href="app/login/lista-cliente">Clientes</a>
    </button>

    <button mat-button class="menu-button">
      <mat-icon style="margin-right: 8px;">pets</mat-icon>
      <a>Animais</a>
    </button>

    <button mat-button class="menu-button">
      <mat-icon style="margin-right: 8px;">pets</mat-icon>
      <a>Consultas</a>
    </button>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content" [class.mat-elevation-z4]="!isActive">

    </div>
  </mat-sidenav-content> -->

<div>
  <span>Clientes |</span><button type="button" (click)="redirectToClientRegister()"> Cadastrar Cliente</button>
</div>
  <br>

  <div>
    <form [formGroup]="searchForm" *ngIf="searchForm" (ngSubmit)="getClients()">
      <label for="searchText">Type here: </label>
      <input id="searchText" formControlName="searchValue" type="text" placeholder="Write something">
      <a href=""><button type="submit">img-search-button</button></a>
    </form>
  </div>

  <br>
  <table *ngFor="let dono of donos">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Telefone</th>
        <th>Email</th>
        <th>+</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{dono.id_dono}}</td>
        <td>{{dono.nome}}</td>
        <td>{{dono.telefone}}</td>
        <td>{{dono.email}}</td>
        <td>
          <a><button>img-dog-button</button></a> |
          <a><button>img-cat-button</button></a> |
          <a><button>img-edit-button</button></a>
        </td>
      </tr>
    </tbody>
  </table>

<!-- </mat-sidenav-container> -->
