<mat-sidenav-container>
  <mat-sidenav mode="side" opened>

    <button mat-button class="menu-button">
      <mat-icon style="margin-right: 8px;">face</mat-icon>
      <span>Atendente</span>
    </button>

    <button mat-button class="menu-button">
      <mat-icon style="margin-right: 8px;">pets</mat-icon>
      <span>Veterinário</span>
    </button>

  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content" [class.mat-elevation-z4]="!isActive">
      Conteúdo
    </div>
  </mat-sidenav-content>


</mat-sidenav-container>
