<div class="sidebar">
  <div>
    <img src="../../assets/img/logo/logo.png">
    <h1>PetMania</h1>
  </div>
  <button class="btn-sidebar">
    <a (click)="redirectToClientList()">Clientes</a>
  </button>
  <button class="btn-sidebar">
    <a (click)="redirectToAnimalList()">Animais</a>
  </button>
  <button class="btn-sidebar">
    <a href="#">Consultas</a>
  </button>
</div>
<div class="main-content">
  <div class="content">
    <div style="display: flex; gap: 20px; align-items:center; justify-content: center;">
      <h1>Clientes</h1>
      <button type="button" (click)="redirectToClientRegister()" style="align-self:start"> Cadastrar Cliente</button>
    </div>
    <br>
    <div>
      <form [formGroup]="searchForm" *ngIf="searchForm" (ngSubmit)="getClient()">
        <label for="searchText">Type here: </label>
        <input id="searchText" formControlName="searchValue" type="text" placeholder="Write something">
        <a href=""><button type="submit">img-search-button</button></a>
      </form>
    </div>

    <table >
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Telefone</th>
          <th>Email</th>
          <th>+</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let dono of donos">
          <td>{{dono.id_dono}}</td>
          <td>{{dono.nome}}</td>
          <td>{{dono.telefone}}</td>
          <td>{{dono.email}}</td>
          <td>
            <a><button (click)="redirectToAnimalRegister(dono.id_dono, 1)">img-dog-button</button></a>
            <a><button (click)="redirectToAnimalRegister(dono.id_dono, 2)">img-cat-button</button></a>
            <a><button (click)="redirectToClientEdit(dono.id_dono)">img-edit-button</button></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>



