<ion-header>
  <ion-toolbar color="primary">
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://cdn.discordapp.com/attachments/1040404882554900622/1071494946164588624/imghome.jpg" />
    <ion-card-header>
      <ion-card-title>A veterinária mais cuidadosa da região.</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      A PetMania é uma clínica veterinária especializada em cuidar da saúde e bem-estar dos seus animais de estimação. Nós acreditamos que todos os animais merecem um tratamento amoroso e respeitoso, e nos esforçamos para garantir que cada visita à nossa clínica seja uma experiência positiva para os animais e seus donos.
    </ion-card-content>
  </ion-card>


  <ion-card>
    <img alt="Silhouette of mountains" src="https://cdn.discordapp.com/attachments/1040404882554900622/1073737261562220544/health-hospital-medicine-servicos.jpg" />
    <ion-card-header>
      <ion-card-title>Nossos serviços</ion-card-title>

    </ion-card-header>

    <ion-card-content>

      Ofertamos os serviços mais demandados por clientes, tais como vacinação, banho & tosa e castração, além dos exames de rotina para que seu pet esteja sempre com a saúde em dia.

    </ion-card-content>
  </ion-card>


  <ion-card>
    <img alt="Silhouette of mountains" src="https://media.discordapp.net/attachments/1040404882554900622/1073747604875259954/quemsomos-img_cropped.jpg" />
    <ion-card-header>
      <ion-card-title>Contatos</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item lines="none">
        <ion-icon name="mail-outline"></ion-icon>PetMania@gmail.com
  </ion-item>
  <ion-item lines="none">
    <ion-icon name="call-outline"></ion-icon>00-0000-0000
  </ion-item>
<ion-item lines="none">
    <ion-icon class="iconcont" name="logo-whatsapp"></ion-icon>
    <ion-icon class="iconcont" name="logo-facebook"></ion-icon>
<ion-icon class="iconcont" name="logo-instagram"></ion-icon>
</ion-item>

    </ion-card-content>
  </ion-card>

</ion-content>
