<mat-sidenav-container>
  <mat-sidenav-content>
    <app-sidenav></app-sidenav>
    <div class="content" [class.mat-elevation-z4]="!isActive">
      <div class="box">
        <form [formGroup]="searchForm" *ngIf="searchForm" (ngSubmit)="getAnimal()">
          <input id="searchText" formControlName="searchValue" type="text" placeholder="Buscar animal...">
          <button type="submit">
            <mat-icon>search</mat-icon>
          </button>
        </form>
      </div>
      <body>
        <main class="table">
        <section class="table_body">
      <table class="filter">
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Sexo</th>
            <th>Nascimento</th>
            <th>Raça</th>
            <th>Espécie</th>
            <th>Dono</th>
            <th>+</th>
          </tr>
          <tr *ngFor="let animal of animais">
            <td>{{animal.id_animal}}</td>
            <td>{{animal.nome_animal}}</td>
            <td>{{animal.sexo_animal === 'm' ? 'Macho' : (animal.sexo_animal === 'f') ? 'Fêmea' : ''}}</td>
            <td>{{animal.data_nasc | date:'dd/MM/yyyy'}}</td>
            <td>{{animal.nome_raca}}</td>
            <td>{{animal.nome_especie}}</td>
            <td>{{animal.nome_dono}}</td>
            <td>
              <button class="btnIcon" (click)="redirectToConsultaRegister(animal.id_animal, animal.nome_animal)"><mat-icon class="editIcon">file_open</mat-icon></button>
              <button class="btnIcon" (click)="redirectToAnimalEdit(animal.id_animal, animal.id_especie)"><mat-icon class="editIcon">assignment</mat-icon></button>
            </td>
          </tr>
      </table>
          </section>
        </main>
      </body>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

